<!--Title, admin dropdown, ready button-->
<div class="container">
  <div class="row justify-content-between">
    <div class="col-auto">
      <h1>{{retro.name}}</h1>
      <h6><small class="text-muted">https://retrospective.kendallp.net/join/{{retro.id}}</small></h6>
    </div>
    <div class="col-auto">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">Admin</button>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
            <a class="dropdown-item" href="#">Dropdown link</a>
            <a class="dropdown-item" href="#">Dropdown link</a>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-outline-success" (click)="markReady();">Ready</button>
    </div>
  </div>
</div>

<!--Retrospective phases-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div>
        <ul class="pagination pagination-lg">
          <li class="page-item" [ngClass]="{disabled: retro.currentStep == 'Adding Issues'}">
            <span class="page-link">&laquo;</span>
          </li>
          <li class="page-item" [ngClass]="{active: retro.currentStep == 'Adding Issues'}">
            <span class="page-link">Issues</span>
          </li>
          <li class="page-item" [ngClass]="{active: retro.currentStep == 'Voting'}">
            <span class="page-link">Votes</span>
          </li>
          <li class="page-item" [ngClass]="{active: retro.currentStep == 'Results'}">
            <span class="page-link">Results</span>
          </li>
          <li class="page-item" [ngClass]="{disabled: retro.currentStep == 'Results'}">
            <span class="page-link">&raquo;</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--Issues display-->
<div class="container" *ngIf="retro.currentStep == 'Adding Issues'">
  <div class="row">
    <div class="col-6">
      <div class="card border-success mb-3">
        <h3 class="card-header">What went well</h3>
        <div class="card-body">
          <form (submit)="false;">
            <input type="text" class="form-control" id="new_issue" #new_issue required />
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card border-warning mb-3">
        <h3 class="card-header">What can be improved</h3>
        <div class="card-body">
          <h4 class="card-title">Warning card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Voting display-->
<div class="container" *ngIf="retro.currentStep == 'Voting'">
</div>

<!--Results display-->
<div class="container" *ngIf="retro.currentStep == 'Results'">
</div>
