<!--Title, admin dropdown, ready button-->
<div class="container">
  <div class="row justify-content-between">
    <div class="col-auto">
      <h1>{{retro?.name}}</h1>
      <h6><small class="text-muted">{{frontendEndpoint}}/join/{{retro?.id}}</small></h6>
    </div>
    <div class="col-auto mt-3">
      <span class="dropdown" *ngIf="retro?.yourself.admin">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownAdminButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administration
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownAdminButton">
          <h5 class="ml-1">Readiness</h5>
          <div class="custom-control custom-checkbox ml-2" *ngFor="let participant of retro?.participants" style="pointer-events: none;">
            <input type="checkbox" class="custom-control-input" [checked]="participant.ready" />
            <label class="custom-control-label">{{participant.name}}</label>
          </div>
        </div>
      </span>
      <span class="dropdown" *ngIf="!retro?.yourself.admin">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownUserButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Users
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserButton">
          <h6 class="ml-2" *ngFor="let participant of retro?.participants">
            {{participant.name}}
          </h6>
        </div>
      </span>
      <button type="button" [ngClass]="{'btn': true, 'btn-outline-success': !retro?.yourself.ready, 'btn-success': retro?.yourself.ready}" (click)="alternateReadiness();">Ready</button>
    </div>
  </div>
</div>

<!--Retrospective phases-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div>
        <ul class="pagination pagination-lg">
          <li class="page-item" [ngClass]="{disabled: retro?.currentStep == 'Adding Issues'}" *ngIf="retro?.yourself.admin">
            <span class="page-link" (click)="moveRetroBackward();">&laquo;</span>
          </li>
          <li class="page-item" [ngClass]="{active: retro?.currentStep == 'Adding Issues'}" style="pointer-events: none;">
            <span class="page-link">Issues</span>
          </li>
          <li class="page-item" [ngClass]="{active: retro?.currentStep == 'Voting'}" style="pointer-events: none;">
            <span class="page-link">Votes</span>
          </li>
          <li class="page-item" [ngClass]="{active: retro?.currentStep == 'Results'}" style="pointer-events: none;">
            <span class="page-link">Results</span>
          </li>
          <li class="page-item" [ngClass]="{disabled: retro?.currentStep == 'Results'}" *ngIf="retro?.yourself.admin">
            <span class="page-link" (click)="moveRetroForward();">&raquo;</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--Issues display-->
<div class="container" *ngIf="retro?.currentStep == 'Adding Issues'">
  <div class="row">
    <div class="col-6">
      <div class="card border-success mb-3">
        <h3 class="card-header">What went well</h3>
        <div class="card-body">
          <form class="input-group" (submit)="addWentWellIssue(new_issue_went_well.value); new_issue_went_well.value = ''; false;">
            <input type="text" class="form-control" id="new_issue_went_well" #new_issue_went_well required />
            <button type="submit" class="btn btn-primary ml-2">Add</button>
          </form>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let issue of getWentWellIssues()">
            <div class="container p-0">
              <div class="row justify-content-between align-items-center">
                <div class="col pr-0">{{issueTitle(issue.title)}}</div>
                <div class="col-auto">
                  <button type="button" class="btn btn-primary" *ngIf="issue.title != null" (click)="deleteIssue(issue.id);">
                    <svg xmlns="http://www.w3.org/2000/svg" class="rem-08 svg-white" width="8" height="8" viewBox="0 0 8 8">
                      <path d="M3 0c-.55 0-1 .45-1 1h-1c-.55 0-1 .45-1 1h7c0-.55-.45-1-1-1h-1c0-.55-.45-1-1-1h-1zm-2 3v4.81c0 .11.08.19.19.19h4.63c.11 0 .19-.08.19-.19v-4.81h-1v3.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5v-3.5h-1v3.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5v-3.5h-1z" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="card border-warning mb-3">
        <h3 class="card-header">What can be improved</h3>
        <div class="card-body">
          <form class="input-group" (submit)="addNeedsImprovementIssue(new_issue_improved.value); new_issue_improved.value = ''; false;">
            <input type="text" class="form-control" id="new_issue_improved" #new_issue_improved required />
            <button type="submit" class="btn btn-primary ml-2">Add</button>
          </form>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let issue of getNeedsImprovementIssues()">
            <div class="container p-0">
              <div class="row justify-content-between align-items-center">
                <div class="col pr-0">{{issueTitle(issue.title)}}</div>
                <div class="col-auto">
                  <button type="button" class="btn btn-primary" *ngIf="issue.title != null" (click)="deleteIssue(issue.id);">
                    <svg xmlns="http://www.w3.org/2000/svg" class="rem-08 svg-white" width="8" height="8" viewBox="0 0 8 8">
                      <path d="M3 0c-.55 0-1 .45-1 1h-1c-.55 0-1 .45-1 1h7c0-.55-.45-1-1-1h-1c0-.55-.45-1-1-1h-1zm-2 3v4.81c0 .11.08.19.19.19h4.63c.11 0 .19-.08.19-.19v-4.81h-1v3.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5v-3.5h-1v3.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5v-3.5h-1z" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--Voting display-->
<div class="container" *ngIf="retro?.currentStep == 'Voting'">
  <div class="row">
    <div class="col-6">
      <div class="card border-success mb-3">
        <h3 class="card-header">What went well</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let issue of getWentWellIssues()">{{issue.title}}</li>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="card border-warning mb-3">
        <h3 class="card-header">What can be improved</h3>
        <h4 class="card-body">{{votes}} votes left</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let issue of getNeedsImprovementIssues()">
            <div class="container p-0">
              <div class="row justify-content-between align-items-center">
                <div class="col pr-0">{{issue.title}}</div>
                <div class="col-auto">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{issue.id}}" (click)="voteOrUnvoteForIssue(issue, $event.target);" [checked]="issue.votes == 1" [disabled]="votes == 0 && issue.votes != 1"/>
                    <label class="custom-control-label" for="{{issue.id}}">&#x200A;</label>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--Results display-->
<div class="container" *ngIf="retro?.currentStep == 'Results'">
  <div class="row">
    <div class="col-6">
      <div class="card border-success mb-3">
        <h3 class="card-header">What went well</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let issue of getWentWellIssues()">{{issue.title}}</li>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="card border-warning mb-3">
        <h3 class="card-header">What can be improved</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let issue of getNeedsImprovementIssues()">
            <div class="container p-0">
              <div class="row justify-content-between align-items-center">
                <div class="col pr-0">{{issue.title}}</div>
                <div class="col-auto">
                  {{issue.votes}}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
