<!--Title, admin dropdown, ready button-->
<div class="container">
  <div class="row justify-content-between">
    <div class="col-auto">
      <h1>{{retro.name}}</h1>
      <h6><small class="text-muted">https://retrospective.kendallp.net/join/{{retro.id}}</small></h6>
    </div>
    <div class="col-auto mt-3">
      <span class="dropdown" *ngIf="retro.yourself.admin">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownAdminButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administration
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownAdminButton">
          <h5 class="ml-1">Readiness</h5>
          <div class="custom-control custom-checkbox ml-2" *ngFor="let participant of retro.participants" style="pointer-events: none;">
            <input type="checkbox" class="custom-control-input" [checked]="participant.ready" />
            <label class="custom-control-label">{{participant.name}}</label>
          </div>
        </div>
      </span>
      <span class="dropdown" *ngIf="!retro.yourself.admin">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownUserButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Users
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserButton">
          <h6 class="ml-2" *ngFor="let participant of retro.participants">
            {{participant.name}}
          </h6>
        </div>
      </span>
      <button type="button" [ngClass]="{'btn': true, 'btn-outline-success': !retro.yourself.ready, 'btn-success': retro.yourself.ready}" (click)="alternateReadiness();">Ready</button>
    </div>
  </div>
</div>

<!--Retrospective phases-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div>
        <ul class="pagination pagination-lg">
          <li class="page-item" [ngClass]="{disabled: retro.currentStep == 'Adding Issues'}">
            <span class="page-link">&laquo;</span>
          </li>
          <li class="page-item" [ngClass]="{active: retro.currentStep == 'Adding Issues'}">
            <span class="page-link">Issues</span>
          </li>
          <li class="page-item" [ngClass]="{active: retro.currentStep == 'Voting'}">
            <span class="page-link">Votes</span>
          </li>
          <li class="page-item" [ngClass]="{active: retro.currentStep == 'Results'}">
            <span class="page-link">Results</span>
          </li>
          <li class="page-item" [ngClass]="{disabled: retro.currentStep == 'Results'}">
            <span class="page-link">&raquo;</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--Issues display-->
<div class="container" *ngIf="retro.currentStep == 'Adding Issues'">
  <div class="row">
    <div class="col-6">
      <div class="card border-success mb-3">
        <h3 class="card-header">What went well</h3>
        <div class="card-body">
          <form (submit)="addWentWellIssue(new_issue.value); new_issue.value = ''; false;">
            <input type="text" class="form-control" id="new_issue" #new_issue required />
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let issue of getWentWellIssues()">{{issueTitle(issue.title)}}</li>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="card border-warning mb-3">
        <h3 class="card-header">What can be improved</h3>
        <div class="card-body">
          <h4 class="card-title">Warning card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Voting display-->
<div class="container" *ngIf="retro.currentStep == 'Voting'">
</div>

<!--Results display-->
<div class="container" *ngIf="retro.currentStep == 'Results'">
</div>
