files:
  "/opt/python/etc/daphne.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      [program:daphne]
      command=bash -c "source ../env && exec /opt/python/run/venv/bin/daphne -b 0.0.0.0 -p 80 backend.retrospective.asgi:application"
      numprocs=1
      process_name=%(program_name)s_%(process_num)02d
      directory=/opt/python/current/app
      autostart=true
      autorestart=unexpected
      startsecs=1
      startretries=3
      exitcodes=0,2
      killasgroup=true
container_commands:
  00_allow_auth_passthrough:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  01_include_daphne_supervisord_conf:
    command: 'echo "[include]" >> /opt/python/etc/supervisord.conf && echo "files=daphne.conf" >> /opt/python/etc/supervisord.conf'
  02_stop_apache_httpd:
    command: 'sudo /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf stop httpd'
  03_update_daphne:
    command: 'sudo /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf update'
