files:
  "/opt/python/etc/daphne.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      [program:daphne]
      command=bash -c "source ../env && exec /opt/python/run/venv/bin/daphne -b 0.0.0.0 -p 81 backend.retrospective.asgi:application"
      numprocs=1
      process_name=%(program_name)s_%(process_num)02d
      directory=/opt/python/current/app
      autostart=true
      autorestart=unexpected
      startsecs=2
      startretries=5
      exitcodes=0,2
      killasgroup=true
  "/tmp/reverseproxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
        ProxyPass /api/ws/ ws://127.0.0.1:81/api/ws/
        ProxyPassReverse /api/ws/ ws://127.0.0.1:81/api/ws/

        ProxyPass / http://127.0.0.1:81/
        ProxyPassReverse / http://127.0.0.1:81/
      </VirtualHost>

      LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
  "/tmp/reverseproxy-ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      Listen 443 https
      <IfModule mod_ssl.c>
        <VirtualHost *:443>
          ProxyPass /api/ws/ ws://127.0.0.1:81/api/ws/
          ProxyPassReverse /api/ws/ ws://127.0.0.1:81/api/ws/

          ProxyPass / http://127.0.0.1:81/
          ProxyPassReverse / http://127.0.0.1:81/

          SSLCertificateFile /etc/letsencrypt/live/BASE_HOSTNAME/fullchain.pem
          SSLCertificateKeyFile /etc/letsencrypt/live/BASE_HOSTNAME/privkey.pem
          Include /etc/letsencrypt/options-ssl-apache.conf
        </VirtualHost>
      </IfModule>
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_download_install_letsencrypt.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      sudo yum install -y mod24_ssl
      wget https://dl.eff.org/certbot-auto
      chmod a+x certbot-auto
      sudo mv ./certbot-auto /usr/local/bin/
      sudo /usr/local/bin/certbot-auto -n --install-only --debug
      source /opt/eff.org/certbot/venv/bin/activate
      sudo pip install --upgrade pip
      sudo /opt/eff.org/certbot/venv/bin/pip install certbot-dns-route53
      deactivate
      sudo /usr/local/bin/certbot-auto -n certonly --dns-route53 --debug -d *.BASE_HOSTNAME --agree-tos -m DEPLOY_EMAIL --server https://acme-v02.api.letsencrypt.org/directory
      curl https://raw.githubusercontent.com/certbot/certbot/master/certbot-apache/certbot_apache/options-ssl-apache.conf > /etc/letsencrypt/options-ssl-apache.conf
      sudo rm -f /etc/httpd/conf.d/ssl.conf
      cp /tmp/reverseproxy-ssl.conf /etc/httpd/conf.d/wsgi-ssl.conf
      sudo service httpd restart
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_auto_renew_certificate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      sudo echo "26 0,12 * * * ec2-user sudo /usr/local/bin/certbot-auto renew --no-self-upgrade" >> /etc/crontab
      sudo service crond restart

container_commands:
  00_turn_off_t3_unlimited:
    command: |
      aws ec2 modify-instance-credit-specification --region "$(wget -q -O - http://169.254.169.254/latest/meta-data/placement/availability-zone | sed 's/.$//')" --instance-credit-specification "InstanceId=$(wget -q -O - http://169.254.169.254/latest/meta-data/instance-id),CpuCredits=standard"
  01_overwrite_wsgi_from_apache_httpd:
    command: 'cp /tmp/reverseproxy.conf ../wsgi.conf'
  02_include_daphne_supervisord_conf:
    command: 'echo "[include]" >> /opt/python/etc/supervisord.conf && echo "files=daphne.conf" >> /opt/python/etc/supervisord.conf'
  03_update_daphne:
    command: 'sudo /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf update'
  04_reload_apache_httpd:
    command: 'sudo service httpd reload'
